<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aquaassistant">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".zulal.FaqActivity"></activity>
        <activity android:name=".sena.ChangeProfilePicture" />
        <activity android:name=".sena.SettingsMain" />
        <activity android:name=".sena.ChangeEmailPhone" />
        <activity android:name=".sena.ChangePassword" />
        <activity android:name=".sena.ChangeUsername" />
        <activity android:name=".zeynep.EditTankActivity" />
        <activity android:name=".mustafa.DiseasesPage" />
        <activity android:name=".mustafa.PlantsPage" />
        <activity android:name=".mustafa.SnailPage" />
        <activity android:name=".mustafa.FishPage" />
        <activity android:name=".mustafa.EncyclopediaPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zeynep.TanksPageActivity" />
        <activity android:name=".zeynep.TankPageActivity" />
    </application>

</manifest>